section {
    gap: 30px;
}

#recuperarSenha {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 6px solid #0084ff;
    border-radius: 24px;
    color: white;
    width: 400px;
    justify-content: center;
    padding: 15px;
}

.botao {
    width: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.botao a {
    background-color: var(--primary-blue);
    border-radius: 20px;
    padding: 10px;
}

.estado {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.estado span {
    margin-right: 5px;
}

.estado input[type="checkbox"] {
    display: none;
}

.estado input[type="checkbox"]+span {
    opacity: 0.6;
}

.estado input[type="checkbox"]:checked+span {
    opacity: 1;
}


.acesso {
    width: 40vh;
    height: 6vh;
}


input {
    margin: 0.2rem auto;
    border-radius: 0.4rem;
    border: #000;
}

input:invalid {
    border-bottom: 2px solid var(--primary-blue);
}

.inputC {
    display: grid;
    gap: 30px;
}



@media(max-width:430px) {

    #recuperarSenha {
        width: 320px;

    }

    #title {
        font-size: 1.70rem;
    }

    .botao {
        width: 70vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .acesso {
        width: 25vh;
        height: 5vh;
    }
}