section {
    gap: 30px;
}

#text {
    font-size: 1rem; 
}

#recuperarSenha {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #0084ff;
    border-radius: 24px;
    color: white;
    width: 30vw;
    justify-content: center;
    padding: 40px 70px;
    box-shadow: 0px 0px 10px -5px #ccc;
    
}

/* .botao {
    width: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.botao a {
    background-color: var(--primary-blue);
    border-radius: 20px;
    padding: 10px;
} */


.acesso {
    width: 40vh;
    height: 6vh;
    padding: 10px;
}


input {
    margin: 0.2rem auto;
    border-radius: 0.4rem;
    border: #000;
}

input:invalid {
    border-bottom: 2px solid var(--primary-blue);
}

.inputC {
    display: grid;
    gap: 30px;
}



@media(max-width:430px) {

    #recuperarSenha {
        width: 320px;

    }

    #title {
        font-size: 1.70rem;
    }

    .botao {
        width: 70vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .acesso {
        width: 25vh;
        height: 5vh;
    }
}