section {
    gap: 30px;
}

#recuperarSenha {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 4px solid #0084ff;
    border-radius: 24px;
    color: white;
    width: 40vw;
    justify-content: center;
    padding: 40px 70px;
    box-shadow: 0px 0px 10px -5px #ccc;
}

/* .botao1{
    width: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px;
} */

/* .botao a {
    display: flex;
}

.inputC {
    display: flex;
    width: 40vh;
    flex-direction: column;
    gap: 10px;
    color: white;
} */

span{
    font-size: 0.8rem;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media(max-width:430px) {

    #recuperarSenha {
        width: 320px;

    }

    #title {
        font-size: 1.70rem;
    }

    .botao {
        width: 70vw;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }


}